extends ../layout

block content
  div(ng-view="")
  //- h1= title
  //- p HelloWorld to #{title}

block scripts

  script(src="/js/app.js")
  script(src="/js/route.js")

  script(src="/js/controllers/main.js")
  script(src="/js/controllers/infomation.js")
  
  
