doctype html
html
  head
    title 输入口令

    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')

    link(rel='stylesheet', href='/adminlte/css/AdminLTE.min.css')
    link(rel='stylesheet', href='/adminlte/css/skins/_all-skins.min.css')


    link(rel='stylesheet', href='/css/style.css')
    block styles
  body(class='skin-blue sidebar-mini')
    div.wrapper          
      div.content-wrapper
        div(class="content body")
          div.form-group
            br
            br
            input#password.form-control(placeholder='输入口令')
            br
            button#loginButton.btn.btn-default 登录




    script(src="http://cdnjs.net/ajax/libs/moment.js/2.9.0/moment.min.js")
    script(src="http://cdnjs.net/ajax/libs/lodash.js/3.3.1/lodash.min.js")
    script(src="/plugins/jQuery/jQuery-2.1.4.min.js")
    script(src="/bootstrap/js/bootstrap.min.js")
    script(src="/adminlte/js/app.min.js")

    script(src="/js/admin/login.js")