doctype html
html
  head
    title 管理系统

    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')

    link(rel='stylesheet', href='/adminlte/css/AdminLTE.min.css')
    link(rel='stylesheet', href='/adminlte/css/skins/_all-skins.min.css')
    link(rel='stylesheet', href='//cdn.bootcss.com/toastr.js/2.1.1/toastr.min.css')

    link(rel='stylesheet', href='/css/style.css')
    block styles
  body(class='skin-blue sidebar-mini' ng-app="myApp")
    div.wrapper
      header.main-header
        a(href="#" class="logo") 管理系统
        nav(class="navbar navbar-static-top")

      aside.main-sidebar
        section.sidebar
          ul.sidebar-menu
            li.treeview
              a(href="#/infomation") +&nbsp;
                span 公告管理
           
      div.content-wrapper
        div(class="content body")
          block content


    script(src="http://cdn.staticfile.org/angular.js/1.3.0-beta.13/angular.js")
    script(src="http://cdn.staticfile.org/angular.js/1.3.0-beta.13/angular-route.js")
    script(src="http://cdn.staticfile.org/angular.js/1.3.0-beta.13/angular-animate.js")
    script(src="http://cdn.staticfile.org/angular.js/1.3.0-beta.13/angular-cookies.js")
    script(src="http://cdn.staticfile.org/angular.js/1.3.0-beta.13/angular-messages.js")
    script(src="http://cdn.staticfile.org/angular.js/1.3.0-beta.13/angular-sanitize.js")
    script(src="http://cdn.staticfile.org/angular.js/1.3.0-beta.13/angular-resource.js")
    script(src="//cdn.bootcss.com/angular-smart-table/2.1.0/smart-table.min.js")

    script(src="//cdn.bootcss.com/toastr.js/2.1.1/toastr.min.js")
    script(src="//cdn.bootcss.com/moment.js/2.10.3/moment.min.js")
    script(src="http://cdnjs.net/ajax/libs/moment.js/2.9.0/moment.min.js")
    script(src="http://cdnjs.net/ajax/libs/lodash.js/3.3.1/lodash.min.js")
    script(src="/plugins/jQuery/jQuery-2.1.4.min.js")
    script(src="/bootstrap/js/bootstrap.min.js")
    script(src="/adminlte/js/app.min.js")
    script(src="/plugins/fastclick/fastclick.min.js")
    script(src="/plugins/sparkline/jquery.sparkline.min.js")
    script(src="/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js")
    script(src="/plugins/jvectormap/jquery-jvectormap-world-mill-en.js")
    script(src="/plugins/slimScroll/jquery.slimscroll.min.js")
    script(src="/plugins/chartjs/Chart.min.js")
    block scripts