body {
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;  
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
      text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-overflow-scrolling: touch;
  -webkit-user-drag: none;
}

*{
  outline:none;
  margin:0;
  padding:0;
  border:none;
}
div, img, a{
  border:none;
}




/*loading...*/
.load-bg{
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 100;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.load-circle {
    margin: 250px auto;
    width: 3px; 
    height:3px;
    border-radius: 100%;                      
    box-shadow: 0 -10px 0 1px #333,           
                10px 0px #333,                   
                0 10px #333,                
                -10px 0 #333,                
                              
                -7px -7px 0 .5px #333,        
                7px -7px 0 1.5px #333,                       
                7px 7px #333,                 
                -7px 7px #333;               
}
.spin {
    -webkit-transform: rotate(360deg);
    -webkit-animation: spin 1s linear infinite; 
}
@-webkit-keyframes spin {
    from {-webkit-transform: rotate(0deg);}
      to {-webkit-transform: rotate(360deg);}
}
.spin {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-animation: spin 1s linear infinite;
            animation: spin 1s linear infinite;
}
@keyframes spin {
    from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
      to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}



@media screen and (min-device-aspect-ratio: 2/3) {

  
} 



