  <div class="box">
    <div class="box-body">
      <div class="col-sm-12">
        <table class="table table-bordered table-hover dataTable" role="grid" st-table="allInfomations">
            <thead>
              <tr role="row">
                <th>公告时间</th>
                <th>公告标题</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="info in allInfomations" ng-click="viewDetail($index)">
                <td>
                  {{info.date | date:"yyyy-MM-dd HH:mm:ss"}}
                </td>
                <td>
                  {{info.title}}
                </td>
                <td>
                  
                </td>
              </tr>
            </tr>
          </tbody>          
        </table>
      </div>
      <hr>
      <div class="col-sm-12" ng-show="current">
        <h3>编辑公告详情</h3>
        <input type="text" ng-model="current.title"/>
        <p>{{current.date | date:"yyyy-MM-dd HH:mm:ss"}}</p>
        <textarea ng-model="current.content" style="width: 100%; height: 150px;"></textarea>
        <button type="submit" class="btn btn-primary" ng-click="saveCurrent()">保存</button>
        <button type="submit" class="btn btn-danger" ng-click="removeItem()">删除</button>        
      </div>
    </div>   
  </div>  


  <div class="box" ng-show="!current">
    <div class="box-header with-border">
      <h3 class="box-title">添加新的公告</h3>
    </div>
    <div class="box-body">
       <div class="input-group">
         <form role="form" ng-submit="addInfomation()">
             <div class="input-group">
               <input type="text" ng-model="newInfomationTitle" placeholder="输入新的公告标题" class="form-control">
               <span class="input-group-btn"> 
                <input type="submit" value="添加" class="btn btn-primary">
               </span>
             </div>
         </form>       

       </div>

    </div>
  </div>